<div layout-fill layout="column" layout-align="center none">
  <div layout="row" layout-align="center none">

    <mat-toolbar color="primary" class="mat-toolbar-signin">

      <span class="title-center">

        <mat-icon class="signin-mat-icon">lock</mat-icon>
        Login
      </span>
    </mat-toolbar>

    <mat-card fxLayout="column" fxLayoutAlign="center center">

      <mat-card-content>

        <form>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>

                <mat-form-field class="example-full-width">

                  <mat-icon class="signin-mat-icon">email</mat-icon>
                  <input matInput placeholder="Enter Email" type="email" required>
                </mat-form-field>

              </td>
            </tr>
            <tr>
              <td>

                <mat-form-field class="example-full-width">

                  <mat-icon class="signin-mat-icon">lock</mat-icon>
                  <input matInput placeholder="Enter password" type="password" required>

                </mat-form-field>

            </tr>
          </table>
        </form>

      </mat-card-content>
      <br>

      <mat-card-actions class="mat-card-actions">

        <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Login</button>
      </mat-card-actions>

      <hr>
      <a href="#" class="a" routerLink="/forgetpassword" routerLinkActive="active">Forgot Password?</a>
      <a href="#" routerLink="/signup" routerLinkActive="active">SignUp</a>

    </mat-card>
  </div>
</div>
