<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">
      <mat-toolbar color="primary" class="mat-toolbar-signup">
        <span class="title-center">SignUp</span>
    </mat-toolbar>
<mat-card class="signup-mat-card">
    
    <form>
        <mat-form-field>
            <mat-icon class="signup-mat-icon">person</mat-icon><input matInput placeholder="Enter Username*">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-icon class="signup-mat-icon">email</mat-icon><input matInput placeholder="Enter Email*">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-icon class="signup-mat-icon">lock</mat-icon><input matInput placeholder="Enter Password*">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Submit</button>
        
      </form>
</mat-card>
</div></div>
 
  
  


   