.main-div
{
    margin: 10pc;
}

.signup-mat-icon{
    margin-left: -30px;
}

.signup-mat-card{
    width: 48%;
    height: 65%;
    display: flex;
    justify-content: center;
}

.signup-tool-bar{
    width: 53%;
}