<!-- 
<mat-toolbar color="primary">Rent A Toy</mat-toolbar>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav color="primary" mode="side" disableClose opened="true" >
    <mat-nav-list>
       
      <mat-list-item>
          <mat-icon >add_shopping_cart</mat-icon> Popular Products
      </mat-list-item>

      <mat-list-item>
          <mat-icon>search</mat-icon>Search By
      </mat-list-item>
      
      <mat-list-item>
          <mat-icon> shopping_cart</mat-icon> Cart
      </mat-list-item>
      
      <mat-list-item>
          <mat-icon>supervisor_account</mat-icon>About us
      </mat-list-item>
   
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
  
</mat-sidenav-container> -->

<mat-toolbar color="primary">Rent A Toy</mat-toolbar>
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav color="primary" mode="side" disableClose opened="true" >
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links" [routerLink]="link.url" routerLinkActive="active">
          <mat-icon matListIcon>{{ link.icon }}</mat-icon>
          <a matLine>{{ link.label }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content></mat-sidenav-content>
    
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  
    
  
  </mat-sidenav-container>